.bank-miniature {
    background: linear-gradient(90deg, rgba(156, 198, 144, 0.75), rgba(100, 180, 171, 0.75));
    border-radius: 25px;
    height: 250px;

    position: relative;
    overflow: hidden;
}

    .miniature__btns-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 0 55px;
    }

        .miniature__btn {
            position: relative;
            z-index: 1;

            background: none;
            border: none;
            opacity: 0.5;
            
            transition: all 0.5s ease-in-out;

            &:hover {                
                opacity: 1;
                cursor: pointer;
            }

            &:first-of-type {
                transform: scaleX(-1);
            }

            & img {
                width: 65px;
                height: 65px;
            }
        }

        .miniature__photos {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 1.25s ease-in-out;
        }

            .miniature__photo-item {
                display: flex;
                justify-content: space-between;

                width: 70%;
                height: 100%;
                position: absolute;

                transition: all 1.5s ease-in-out;
            }

                .miniature__photo-descr {
                    width: 450px;
                    margin-right: 50px;
                    padding: 35px 0;
                }

                    .miniature__photo-descr > * {
                        color: #fff;
                        text-shadow: 1px 1px 2px darkolivegreen;
                    }

                    .miniature__photo-header {
                        font-size: 26px;
                        cursor: default;
                    }

                    .miniature__photo-text {
                        margin: 15px 0 30px 0;
                        font-size: 18px;
                        cursor: default;
                    }

                    .miniature__photo-btn {
                        border: none;
                        border-radius: 10px;
                        background: transparent;
                        padding: 10px 25px;
                        font-size: 16px;
                        background-color: green;
                        cursor: pointer;

                        transition: all 0.5s ease-in-out;

                        &:hover {
                            background-color: darkgreen;
                        }
                    }

                .miniature__photo-item img {
                    width: 40%;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                #miniatureFirstPhoto {
                    transform: translateX(-150%);
                }

                #miniatureSecondPhoto {
                    transform: translateX(0);
                }

                #miniatureThirdPhoto {
                    transform: translateX(150%);
                }

                #miniatureFourthPhoto {
                    transform: translateX(300%);
                }

                #miniatureFifthPhoto {
                    transform: translateX(450%);
                }

.bank-offer {
    margin: 25px 0;
    padding: 25px 45px;
}

    .bank-offer > * {
        transform: translateX(-15px);
    }

    .offer__header {
        font-size: 24px;
        margin-bottom: 25px;
        margin-left: 15px;
    }

    .offer__blocks-wrapper {
        border-top: 1.5px solid #bababa;
        border-bottom: 0.5px solid #bababa;
        position: relative;
        margin-bottom: 25px;
        overflow: hidden;
    }

        .offer__blocks-wrapper > * {
            display: flex;
            justify-content: space-between;
            margin: 15px;

            transition: all 1.25s ease-in-out;
        }

        #offerBlocksPerson {
            bottom: 0;
            position: absolute;
            transform: translateY(-270px);
            width: 1220px;
        }

                #offerBlocksPerson > * > * {
                    background: radial-gradient(circle at 175%, rgb(154, 181, 106), rgb(154, 181, 106) 50%, rgb(131, 156, 88) 75%);
                }

        #offerBlocksBusiness {
            transform: translateY(0px);
        }

                #offerBlocksBusiness > * > * {
                    background: linear-gradient(90deg, #efefef, #dedede);
                }

                    #offerBlocksBusiness > * > * > * {
                        color: #000;
                    }

            .offer__blocks-inner {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

                .offer__block {
                    width: 350px;
                    height: 150px;
                    padding: 25px;

                    border-radius: 10px;

                    cursor: pointer;
                    transition: all 0.5s ease-in-out;

                    box-shadow: 0 2.5px 7.5px #999;

                    &:hover {
                        transform: scale(1.05);
                    }

                    position: relative;
                }

                    .offer__block > * {
                        position: absolute;
                        color: white;
                    }

                    .offer__block-header {
                        font-size: 16px;
                        /* text-shadow: 1px 1px 5px green; */
                    }

                    .offer__block-text {
                        top: 35%;
                        width: 175px;
                        font-size: 14px;
                    }

                    .offer__block-icon {
                        width: 150px;
                        height: 150px;
                        bottom: 0;
                        right: 0;
                    }

/* .bank-calc {
    margin: auto;
    width: 85%;
} */

        .calc__switch {
            border: none;
            border-radius: 25px;
            padding: 10px 30px;
            font-weight: 600;
            font-size: 18px;
            background: #e4e4e4;

            &:last-of-type {
                margin-left: 15px;
            }

            transition: all 0.5s ease-in-out;

            &:hover {
                cursor: pointer;
            }
        }

        .calc__switch_active {
            background: black;
            color: white;
        }

    .calc__menu {
        height: 450px;
        margin: 25px 0;
        border: 3px solid #c4c4c4;
        border-radius: 15px;
        overflow: hidden;
    }

        .credit__menu,
        .deposit__menu {
            width: 100%;
            height: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
    
            padding: 50px;
            column-gap: 50px;
    
            position: relative;
    
            transition: all 0.5s ease-in-out;
        }
        
        .credit__menu {
            opacity: 0;
        }

        .credit__menu .calc__shell {
            height: 325px;
        }

            .calc__subscribe-wrapper {
                display: flex;
                width: 75%;
                justify-content: space-between;
                align-items: center;

                padding: 25px;
                background: white;
                border-radius: 25px;

                margin: 15px 0;
            }

            .calc__subscribe-line {
                width: 1px;
                height: 50px;
                background: #000;
            }

                .calc__subscribe-icon-wrapper {
                    display: flex;
                    align-items: center;
                }

                    .calc__subscribe-icon {
                        margin-right: 15px;
                    }

            .calc__subscribe-sum {
                font-weight: bold;
                font-size: 22px;
            }

            .deposit__menu > *,
            .credit__menu > * {
                margin-left: 15px;
            }

            .calc__header {
                margin-bottom: 35px;
            }

            .calc__input-wrapper {
                margin-bottom: 25px;
                position: relative;
            }

                .calc__input {
                    font-size: 14px;

                    position: relative;
                    margin-top: 15px;
                    display: block;
                    width: 85%;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid #bcbcbc;
                    outline: none;
                    padding: 0 20px;
                    color: #000;

                    &::placeholder {
                        opacity: 0.75;
                    }

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                    }
                }

                .calc__input-sign {
                    font-size: 18px;
                }

            .calc__lower-sign {
                padding-top: 15px;
                font-size: 14px;
                opacity: 0.5;
            }

        .deposit__menu-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

            .calc__shell {
                width: 90%;
                height: 260px;
                background: #efefef;
                border-radius: 25px;
                border: 2.5px solid #cdcdcd;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                .calc__shell-sign {
                    font-weight: 400;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                .calc__shell-sum {
                    font-size: 28px;
                    margin-bottom: 15px;
                }

                .calc__shell-line {
                    width: 400px;
                    height: 1px;
                    background: #767;
                    margin-bottom: 15px;
                }

                .calc__shell-nums {
                    width: 400px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;
                }

                    .calc__shell-num {
                        font-weight: bold;
                    }

                .calc__shell-submit {
                    margin-top: 15px;
                    padding: 10px 15px;
                    color: #fff;
                    background: green;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 18px;

                    transition: all 0.5s ease-in-out;

                    &:hover {
                        background: rgb(0, 100, 0);
                    }
                }


            .calc__more {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                margin-top: 25px;
                cursor: pointer;
            }

                .calc__more-text {
                    font-size: 14px;
                }

                .calc__more-icon {
                    margin-left: 10px;
                    height: 12.5px;
                }

.bank-safety {
    margin: 25px 0;
    padding: 25px 45px;
}

    .safety-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        position: relative;
    }

        .safety-top__header {
            font-size: 24px;
        }

        .safety-top__link-wrapper {
            display: flex;
            align-items: center;

            position: absolute;
            right: 0;

            transition: all 0.5s ease-in-out;
        }

            .safety-top__link {
                margin-right: 10px;
                color: #64b4ab;
                cursor: pointer;
            }

    .safety-bottom {
        display: flex;
        justify-content: space-between;
    }

            .safety-bottom__item {
                display: block;
            }

                .safety-bottom__date-wrapper {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                }

                    .safety-bottom__date-icon {
                        margin-right: 10px;
                    }

                    .safety-bottom__date-sign {
                        font-size: 14px;
                    }

                .safety-bottom__content {
                    width: 365px;
                    font-size: 18px;
                }