@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background: rgb(207,98,213);
    background: linear-gradient(90deg, rgba(207,98,213,1) 0%, rgba(137,157,207,1) 100%);
}